<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/png" href="../images/favicon.ico" />
    <link rel="stylesheet" href="../styles/main.scss" />
    <title>Title</title>
    <h1 class="test">should be blue, but click me and I'll be red</h1>
  </head>
  <body>
    <script src="../javascripts/app.js"></script>
  </body>
</html>
